
$colors: rgb(245, 212, 212), rgb(241, 241, 197), rgb(218, 245, 206), rgb(174, 228, 252), rgb(233, 218, 245), rgb(248, 222, 174);
body,html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Arial";
}

h1 {
  margin: 3rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  // grid-gap: 1rem;
  cursor: pointer;

  .card {

    transition: transform 1s;

    @for $i from 1 to 7 {
      &:nth-of-type(#{$i}) {
        background: nth($colors, $i);
      }
    }
    &:hover {
      transform: translateY(-10px);
    }

    img {
      width: 100%;
      height: 250px;
    }

    .info {
      padding: 1rem;
    }

  }
}
